.link-wrapper {
    padding: 0.5em 0;
}

.link {
    text-decoration: none;
    color: #141313;
    transition: color 0.5s ease-in-out;
}

.link:hover {
    color: #905941;
}

.center {
    display: flex;
    justify-content: center;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.image-details {
    right: 0;
    object-fit: fill;
}
